<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/nicksoftware/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="hnicolus" />
            <add key="ClearTextPassword" value="1d01ae08287b1995120bfef5aa7d92e50998fbdf" />
        </github>
    </packageSourceCredentials>
</configuration>